body
{
    font-family: 'PT Sans', 'Arial',  sans-serif ;
    font-size: 14px;
    line-height: 1.5;

    width: 1200px;
    margin: 0 auto;

    text-transform: uppercase;

    color: #000;
    box-shadow: 0 0 50px 0;
}

h1
{
    font-family: 'PT Sans', 'Arial',  sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: .8;

    text-transform: uppercase;

    color: #000;
}

h2
{
    font-family: 'PT Sans', 'Arial',  sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.2;

    text-transform: uppercase;

    color: #000;
}

main
{
    width: 1200px;
    margin: 0 auto;
}



.main-header
{
    min-height: 60px;
    margin: 0 auto;
    margin-top: -2px;
    margin-bottom: 55px;
}

.main-header-hotels
{
    margin-top: -2px;
    padding: 0;
}

.promo
{
    position: relative;

    min-height: 460px;
    margin-top: -60px;
    padding-top: 132px;

    background: url('../img/background-photo.jpg') no-repeat  ;
    background-size: 1200px 510px;
}

.promo img
{
    margin-bottom: 40px;
}

.promo::after
{
    display: block;

    width: 1200px;
    min-height: 58px;
    margin-top: 320px;
    margin-bottom: -60px;

    content: '';

    background: url('../img/main-background-mask.png') no-repeat;
    background-size: 1200px 58px;
}


.main-navigation
{
    width: 1200px;
    min-height: 56px;
    margin: 0 auto;

    background: #fff;
}

.main-navigation > ul
{
    font-size: 0;
    font-weight: bold;

    position: relative;
    top: 2px;
    left: -5px;

    margin: 0;
    padding: 0 ;

    list-style: none;
}

.main-navigation  li
{
    font-size: 14px;

    display: inline-block;

    width: 240px;
    margin-top: 14px;

    text-align: center;
    vertical-align: top;
}

.main-navigation a
{
    text-decoration: none;

    color: #000000;
}

.main-navigation a:visited 
{
	color: #766357;
	outline:none;
	text-decoration: none;
}


.main-navigation a:hover
{
    color: #81b3d2;
}

.main-navigation a:active
{
    color: #bbbbbb;
}


.index-logo img
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 536px;
}

.welcome
{
    position: absolute;
    top: 77px;
    left: 370px;
}


.features
{
    width: 1200px;
    margin-top: 37px;

    background: #fff;
}

.reason
{
    width: 625px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 56px;

    text-align: center;
}

.sedona
{
    margin-bottom: 31px;
}

.reasons
{
    font-size: 14px;
    font-weight: normal;

    word-spacing: .09em;
}

.feature-item
{
    width: 1200px;
    height: 256px;
    margin: 0 auto;
}

.choice
{
    min-height: 219px;
    margin-top: -2px;
    padding: 0;
    padding-top: 2px;

    color: #fff;
    background: url(../img/filter-background.jpg) no-repeat 50% 4px;
    background-size: 1200px 269px;
}

.cost
{
    float: right;

    margin-top: 30px;
}

.choose-product
{
    font-weight: normal;

    margin-left: -53px;
}

.choose-product li
{
    margin-top: -4px;
    padding: 13px 0;

    list-style: none;
}

.login-checkbox input[type='checkbox']
{
    display: none;
}


.login-checkbox input[type='checkbox']:checked + .checkbox-indicator::before:hover
{
    color: #663d15;
}

.login-checkbox input[type='checkbox'] + .checkbox-indicator
{
    position: absolute;
    top: -4px;

    height: 25px;
    padding: 7px 0;
    padding-left: 21px;

    cursor: pointer;

    background-image: url(../img/box-unchecked.png);
    background-repeat: no-repeat;
    background-position: 100% -1px;
}
.login-checkbox input[type='checkbox']:checked + .checkbox-indicator
{
    visibility: hidden;
}


.login-checkbox input[type='checkbox']:checked + .checkbox-indicator::before
{
    position: absolute;
    top: 0;
    left: 0;

    visibility: visible;

    width: 25px;
    height: 25px;

    content: ' ';
    cursor: pointer;

    background-image: url(../img/box-checked.png);
    background-repeat: no-repeat;
    background-position: 100% -1px;
}

.checkbox-name
{
    margin-left: 38px;

    cursor: pointer;
}

.choose-product li label
{
    font-size: 15px;

    position: relative;

    margin-left: 15px;
}


.infrastructure
{
    font-size: 16px;

    float: left;

    margin-top: -2px;
    margin-right: 120px;
    margin-left: 71px;

    letter-spacing: .02em;
}

.infrastreucture span
{
    font-weight: bold;
}

.type-of-shelter
{
    font-size: 16px;

    float: left;

    margin-top: -2px;
    margin-left: -4px;
}

.type-of-shelter span,
.infrastructure span
{
    font-weight: bold;
}

.filter-range
{
    width: 322px;
    margin: 27px 805px;

    text-transform: uppercase;
}

.filter-range-title
{
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;

    margin-bottom: 10px;
    margin-left: -4px;
}

.price-controls
{
    font-size: 0;

    position: relative;

    width: 314px;
    height: 33px;
    margin-bottom: 20px;
    margin-left: 4px;

    border: 2px solid #fff;
    border-radius: 2px;
}

.price-controls::after
{
    position: absolute;
    top: 49%;
    left: 51%;

    width: 2px;
    height: 22px;

    content: '';
    transform: translate(-50%, -50%);

    background: #fff;
}

.price-controls label
{
    font-size: 14px;
    line-height: 38px;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;
}

.price-controls .min-price,
.price-controls .max-price
{
    width: 81px;
    margin-top: -3px;
    padding-left: 66px;
}

.price-controls input
{
    font: inherit;

    width: 50px;
    margin-left: 0;

    color: inherit;
    border: none;
    background: none;
}

.range-controls
{
    position: relative;
    top: -1px;
    left: 2px;

    margin-bottom: 32px;
}

.range-controls .scale
{
    height: 2px;

    background: rgba(255, 255, 255, .3);
}

.range-controls .bar
{
    width: 80%;
    height: 2px;

    background: #fff;
}

.range-toggle
{
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle:hover
{
    background: #1c4f80;
}

.range-toggle-min
{
    left: 4px;
}

.range-toggle-max
{
    left: 80%;
}

.btn-transparent
{
    font-size: 13px;
    line-height: 20px;

    display: block;

    margin: -1px 89px;
    padding: 6px 33px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;
}

.btn-transparent:hover
{
    color: #000;
    background: #fff;
}

.find
{
    display: inline-block;

    width: auto;
    min-height: 73px;
    margin-top: -14px;
    padding: 0 69px;

    color: #000;
    border-bottom: 1px solid #e5e5e5;
}

.find > h2
{
    display: inline-block;

    margin-right: 45px;
    margin-left: 2px;
}

.hotel
{
    min-height: 120px;
    padding-top: 30px;
    padding-right: 70px;
    padding-left: 70px;

    color: #000;
    border-bottom: 1px solid #e5e5e5;
}

.name
{
    display: inline-block;

    width: 250px;
    margin-top: -5px;
    margin-bottom: 8px;

    letter-spacing: .005em;
}

.name:hover
{
    cursor: pointer;

    color: #81b3d2;
}

.name:active
{
    color: #b7b7b7;
}

.sort
{
    font-size: 12px;

    margin-right: 37px;
}

.price
{
    font-size: 12px;

    margin-right: 27px;

    text-decoration: none;

    color: #81b3d2;
}

.line
{
    font-size: 2px;

    width: 100%;
}

.type
{
    font-size: 12px;

    margin-right: 31px;

    text-decoration: none;

    color: #bbb;
    border-bottom: 1px dotted #bbb;
}

.type:hover
{
    color: #81b3d2;
}

.type:active
{
    text-decoration: none;

    color: #000;
    border: none;
}

.mmr
{
    font-size: 12px;

    margin-right: 493px;

    text-decoration: none;

    color: #bbb;
    border-bottom: 1px dotted #bbb;
}

.mmr:hover
{
    color: #81b3d2;
}

.mmr:active
{
    text-decoration: none;

    color: #000;
    border: none;
}


.arrows
{
    float: right;

    padding-top: 11px;

    cursor: pointer;
    text-decoration: none;
}

.arrows .left
{
    padding: 10px;

    color: #ccc;
}

.arrows .left:hover
{
    color: #000;
}

.arrows .right:hover
{
    color: #000;
}

.arrows .left:active
{
    color: #81b3d2;
}

.arrows .right:active
{
    color: #81b3d2;
}



.arrows .right
{
    color: #81b3d2;
}

.shelter-photo
{
    float: left;
    float: left;

    margin-right: 33px;
    margin-left: 1px;
}

.name-and-other
{
    width: 430px;
}

.buttons
{
    margin-top: 17px;
}

.show
{
    margin-top: 10px;
    margin-left: -2px;
    padding: 5px 17px;

    text-decoration: none;

    color: #fff;
    background: #81b3d2;
}

.show:hover
{
    background: #669ec0;
}

.show:active
{
    color: #81b3d2;
    background: #669ec0;
}

.booking
{
    margin-left: 3px;
    padding: 5px 17px;

    text-decoration: none;

    color: #fff;
    background: #766357;
}

.booking:hover
{
    background: #604e43;
}

.booking:active
{
    color: #857871;
    background: #604e43;
}


.hotel-price-1
{
    margin-left: 35px;
}

.hotel-price-2
{
    margin-left: 60px;
}

.hotel-price-3
{
    margin-left: 17px;
}

.stars-and-rank
{
    margin-top: -59px;
    margin-right: 4px;
}

.stars
{
    font-size: 24px;

    float: right;

    margin-top: -38px;
    margin-right: -2px;

    letter-spacing: .09em;

    color: #81b3d2;
}

.rank
{
    float: right;

    width: 106px;
    margin-top: 37px;
    padding: 1px;

    text-align: center;

    color: #bbb;
    background: #f2f2f2;
}

.real-city
{
    float: left;

    width: 400px;
    height: 256px;
}

.devil-bridge
{
    float: right;

    width: 400px;
    height: 256px;
}

.big-name
{
    font-size: 21px;
    font-weight: bold;
    line-height: 1;

    width: 150px;
    margin: 0 auto;
    margin-bottom: 23px;
    padding-top: 18px;
}

.big-name-container
{
    font-size: 21px;
    font-weight: bold;
    line-height: 1;

    width: 171px;
    margin: 0 auto;
    margin-top: -1px;
    margin-bottom: 23px;
}


.discription
{
    font-weight: normal;

    width: 302px;
    margin: 0 auto;
    padding-bottom: 17px;
}

.discription-container
{
    font-weight: normal;

    width: 280px;
    margin: 0 auto;
    padding-bottom: 17px;
}


.number
{
    font-weight: normal;

    padding: 3px 0;
    padding-bottom: 20px;
}

.container-number
{
    font-weight: normal;

    padding: 0;
    padding-bottom: 20px;
}


.features-item-blue
{
    display: flex;

    text-align: center;

    color: #fff;
    background: #81b3d2;

    flex-flow: column nowrap;
    justify-content: center;
}
.background-right
{
    float: right;
}
.background-left
{
    float: left;
}

.container
{
    height: 330px;
    margin: 0 auto;
    margin-bottom: -60px;
    padding-top: 60px;

    text-align: center;
}

.container-item
{
    display: flex;
    float: left;

    width: 400px;
    margin: 0 auto;

    flex-flow: column wrap;
    align-items: center;
}

.home,
.burger,
.box
{
    margin-bottom: 30px;

    color: #81b3d2;
}
.container-gray
{
    min-height: 254px;
    margin: 0 auto;

    text-align: center;

    background: #eee;
}

.features-item-gray
{
    display: flex;
    float: left;

    width: 400px;
    padding-top: 30px;

    flex-flow: column nowrap;
}

.form-hotel
{
    display: flex;

    width: 100%;
    margin: 0 auto;

    text-align: center;

    flex-flow: column wrap;
    align-items: center;
}

.headline
{
    font-size: 30px;
    font-weight: bold;

    padding-top: 15px;
    padding-bottom: 21px;
}

.discription-holel
{
    font-weight: normal;
    line-height: 1.7;

    width: 437px;
}

.brown
{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.7;

    width: 568px;
    margin-top: 48px;
    padding: 27px 0;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border: none;
    background: #766357;
    box-shadow: none;
}


.map
{
    width: 1200px;
    min-height: 474px;
    margin: 0 auto;

    background: url('../img/map1.jpg') no-repeat;
}

.form
{
    position: absolute;

    width: 569px;
    margin: 0 auto;

    animation: drop-down .6s forwards;

    background: #fff;
}

@keyframes drop-down
{
    0%
    {
        transform: translateY(-100px);

        opacity: 0;
    }
    70%
    {
        transform: translateY(30px);

        opacity: 1;
    }


    100%
    {
        transform: translateY(0);

        opacity: 1;
    }
}

.form-show

{
    animation: fly-out .6s forwards;
}

@keyframes fly-out
{

    0%
    {
        transform: translateY(0);

        opacity: 1;
    }
    70%
    {
        transform: translateY(30px);

        opacity: 1;
    }
    100%
    {
        transform: translateY(-500px);

        opacity: 0;
    }
}

.form-1
{
    font-weight: bold;

    display: flex;

    padding: 56px 57px ;

    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}

.form input.log-box
{
    background-image: url('../img/calendar.png') ;
    background-repeat: no-repeat;
    background-position: 97% 8px;
}

.log-box
{
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;

    width: 289px;
    margin-top: 2px;
    margin-bottom: 27px;
    padding: 9px 15px;
    padding-right: 43px;
    padding-bottom: 8px;

    cursor: pointer;
    text-transform: uppercase;

    color: #000;
    border: none;
    background: #f2f2f2;
}

.form input.log-box:hover
{
    border: none;
    background: #ebebeb;
    background-image: url('../img/calendar-black.png') ;
    background-repeat: no-repeat;
    background-position: 97% 8px;
}

.form input.log-box:focus
{
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 11px;

    border: 2px solid #e5e5e5 ;
    outline: none;
    background: #fff;
    background: url('../img/calendar-blue.png') ;
    background-repeat: no-repeat;
    background-position: 98% 6px;
}



.date
{
    margin-left: -131px;
}

.calendar
{
    font-size: 16px;
    font-weight: normal;

    float: right;

    margin-left: 42px;

    color: #c2c2c2;
}

.calendar:hover
{
    cursor: pointer;

    color: #000;
}

.calendar:active
{
    color: #81b3d2;
}

.adults
{
    margin-top: 12px;
    margin-right: -40px;
    margin-left: -2px;
}

.children
{
    margin-right: -54px;
}

.form-number
{
    width: 76px;
    margin-left: 29px;
    padding: 8px;
    padding-top: 9px;
    padding-right: 29px;
    padding-left: 9px;

    text-align: center;

    background: #f2f2f2;
}

.form-number-box
{
    width: 77px;
    margin-left: 12px;
}

.form-number-box span:nth-child(2n)
{
    margin: 0 16px;
}

.minus,
.plus
{
    color: #a9a9a9;
}

.minus:hover,
.plus:hover
{
    cursor: pointer;

    color: #000;
}

.minus:active,
.plus:active
{
    color: #81b3d2;
}


.btn
{
    font-size: 20px;
    font-weight: bold;

    width: 100%;
    margin-top: 55px;
    padding: 17.5px 8px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: none;
    background: #81b3d2;
}

.btn:hover
{
    background: #669ec0;
}

.btn:active
{
    color: #88b6d1;
    background: #5496bd;
}

.main-footer-hotels
{
    margin-top: 12px;
    padding-bottom: 9px;
}

.footer-container
{
    margin-top: 15px;
}

.clearfix::after,
.clearfix::before
{
content:"";
display:table;
clear: both;
}

.footer-item
{
    float: left;

    margin: 0 auto;
}

.footer-contacts a
{
    font-size: 21px;
    font-weight: bold;

    margin-top: -9px;

    text-decoration: none;

    color: #000;
}

.footer-contacts
{
    margin-top: 31px;
    margin-right: 170px;
    margin-left: 131px;
}

.footer-social
{	display: flex;

    margin: 24px 80px;
}


.social-btn-twt,
.social-btn-fb,
.social-btn-ytb
{
    width: 46px;
    height: 48px;
    margin-left: 6px;

    background: #81b3d2;
}

.social-btn-twt:hover,
.social-btn-fb:hover,
.social-btn-ytb:hover
{
    background: #669ec0;
}

.social-btn-twt:active > .icon-twt
{
    padding-top: 18px;
    padding-bottom: 19px;

    background: url('../img/twetter-active.png') no-repeat;
    background-position: 15px 17px;
}

.social-btn-fb:active > .icon-fb
{
    padding-top: 13px;
    padding-bottom: 19px;

    background: url(../img/FB-active.png) no-repeat;
    background-position: 18px 13px;
}

.social-btn-ytb:active > .icon-ytb
{
    padding-top: 8px;
    padding-bottom: 24px;

    background: url(../img/youtube-active.png) no-repeat;
    background-position: 13px 16px;
}

.icon-twt {
    padding-top: 18px;
    padding-bottom: 19px;

    background: url(../img/twetter.png) no-repeat;
    background-position: 15px 17px;
}


.icon-fb
{
    padding-top: 13px;
    padding-bottom: 19px;

    background: url(../img/FB.png) no-repeat;
    background-position: 18px 13px;
}

.icon-ytb{
    padding-top: 8px;
    padding-bottom: 24px;

    background: url(../img/youtube.png) no-repeat;
    background-position: 13px 16px;
}

.footer-copyright
{
    margin-top: 23px;
    margin-left: 148px;
    cursor: default;
}

.htmlacademy
{
    position: relative;
    right: -82px;
    bottom: 43px;
    cursor:pointer;
    width: 115px;
    min-height: 50px;

    background: url('../img/htmlacademy.png') no-repeat;
}

.htmlacademy:hover
{
    background: url('../img/htmlacademy-blue.png') no-repeat;
}

.htmlacademy:active
{
    background: url('../img/htmlacademy-grey.png') no-repeat;
}
