body{
	font-size: 14px;
	font-family: "PT Sans", "Arial",  sans-serif ;
	color: #000000;
	text-transform: uppercase;
	line-height: 1.5;
	margin:0 auto;
	
}

h1{
	font-size: 30px;
	font-family: "PT Sans", "Arial",  sans-serif;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.8;
}

h2{
	font-size: 21px;
	font-family: "PT Sans", "Arial",  sans-serif;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
}

main{
	width:1200px;
	margin:0 auto;

}



.main-header{
	min-height: 60px;
	margin:0 auto;
	margin-bottom:55px;


}

.main-header-hotels {
	padding: 0;
	margin-top: -2px;
}

.promo {
	position:relative;
	background: url("../img/background-photo.jpg") no-repeat  ;
	background-size: 1200px 510px;
	min-height: 460px;
	padding-top: 132px;
	margin-top: -60px;

}

.promo img {
	margin-bottom:40px;
}

.promo::after {
	display: block;
	content:"";
	width: 1200px;
	min-height: 58px;
	margin-top: 320px;
	margin-bottom: -60px;
	background: url("../img/main-background-mask.png") no-repeat;
	background-size: 1200px 58px;
}


.main-navigation{
	background: #ffffff;
	min-height: 56px;
	width: 1200px;
	margin: 0 auto;
	
}

.main-navigation > ul { 
	position:relative;
	left: -5px;
	top: 2px;
	margin: 0;
	font-size: 0; 
	padding: 0 ; 
	list-style: none;
	font-weight:bold;

}

.main-navigation  li {
	margin-top: 14px;
	text-align: center;
	width: 240px;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	
	

}

.main-navigation a {
	color: #000;
	text-decoration: none;
	
}

.main-navigation a:hover {
	color:#81b3d2;
}

.main-navigation a:active {
	color:#bbbbbb;
}

.index-logo img{
	position: absolute;
	z-index:2;
	top: -2px;
	left: 536px;
	height: 69px;
}

.welcome{
	position: absolute;
	left: 370px;
	top: 77px;
}


.features{
	background:#fff;
	margin-top: 37px;
	width:1200px;
	

}

.reason{
	text-align:center;
	width: 625px;
	height:100px;
	margin:0 auto;
	margin-bottom:56px;
}

.sedona {
	margin-bottom:31px;
}

.reasons {
	font-size: 14px;
	word-spacing: 0.09em;
	font-weight: normal;
}

.feature-item{

	width:1200px;
	height:256px;
	margin:0 auto;
}

.choice {
	background: url(../img/filter-background.jpg) no-repeat 50% 4px;
	background-size: 1200px 269px;
	padding: 0;
	margin-top: -2px;
	padding-top: 2px;
	color: #fff;
	min-height: 219px;
}

.cost {
	float: right;
	margin-top: 30px;

} 

.choose-product {
	font-weight:normal;
	margin-left: -53px;
	

}

.choose-product li {
	list-style: none;
	padding: 13px 0;
	margin-top: -4px;


}

.login-checkbox input[type="checkbox"] {
	display: none;

}


.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before:hover {
	color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
	background-image: url(../img/box-unchecked.png);
	position: absolute;
	top: -4px;
	background-repeat: no-repeat;
	background-position: 100% -1px;
	padding: 7px 0;
	padding-left: 21px;
	height: 25px;
	cursor: pointer;

}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
	visibility:hidden;

}


.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	content: " ";
	background-image: url(../img/box-checked.png);
	background-repeat: no-repeat;
	background-position: 100% -1px;
	position: absolute;
	top: 0px;
	left: 0;
	width: 25px;
	height: 25px;
	visibility: visible;
	cursor: pointer;
	
}

.checkbox-name {
	margin-left: 38px;
	cursor: pointer;

}

.choose-product li label {
	margin-left: 15px;
	font-size: 15px;
	position: relative;
}


.infrastructure {
	float: left;
	margin-right: 120px;
	margin-left: 71px;
	margin-top: -2px;
	font-size: 16px;
	letter-spacing: 0.02em;
}

.type-of-shelter {
	float: left;
	margin-left: -4px;
	margin-top: -2px;
	font-size: 16px;
}

.filter-range {
	width: 322px;
	text-transform: uppercase;
	margin: 27px 805px;

}

.filter-range-title {
	margin-bottom: 10px;
	margin-left: -4px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 33px;
	margin-bottom: 20px;
	font-size: 0;
	width: 314px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	margin-left: 4px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 49%;
	left: 51%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 81px;
	padding-left: 66px;
	margin-top: -3px;
}

.price-controls input {
	width: 50px;
	margin-left: 0px;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
	left: 2px;
	top: -1px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 4px;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: -1px 89px;
	padding: 6px 33px;
	font-size: 13px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}

.find {
	display: inline-block;
	width: auto;
	margin-top: -14px;
	padding: 0 69px;
	min-height: 73px;
	border-bottom: 1px solid #e5e5e5;
	color: #000000;
}

.find > h2 {
	display:inline-block;
	margin-right: 45px;
	margin-left: 2px;
}

.hotel {
	padding-top: 30px;
	padding-left: 70px;
	padding-right: 70px;
	min-height: 120px;
	border-bottom: 1px solid #e5e5e5;
	color: #000000;

}

.name {
	display: inline-block;
	width: 250px;
	margin-top: -5px;
	letter-spacing: 0.005em;
	margin-bottom: 8px;
}

.name:hover {
	color:#81b3d2;
	cursor:pointer;
}

.name:active {
	color:#b7b7b7;
	
}

.sort {
	font-size: 12px;
	margin-right: 37px;
}

.price {
	font-size: 12px;
	color: #81b3d2;
	margin-right: 27px;
	text-decoration: none;
}

.line {
	font-size: 2px;
	width:100%;
}

.type {
	font-size: 12px;
	margin-right: 31px;
	color: #bbbbbb;
	text-decoration: none;
	border-bottom: 1px dotted #bbbbbb;
}

.type:hover {
	color:#81b3d2;
}

.type:active {
	text-decoration:none;
	color:#000000;
	border:none;
}

.mmr {
	font-size: 12px;
	color: #bbbbbb;
	text-decoration: none;
	margin-right: 493px;
	border-bottom: 1px dotted #bbbbbb;

}

.mmr:hover {
	color:#81b3d2;
}

.mmr:active {
	text-decoration:none;
	color:#000000;
	border:none;

}


.arrows {
	padding-top: 11px;
	float: right;
	text-decoration: none;
	cursor: pointer;
	
}

.arrows .left {
	color: #cccccc;
	padding: 10px;
}

.arrows .left:hover {
	color:#000000;
}

.arrows .right:hover {
	color:#000000;

}

.arrows .left:active {
	color:#81b3d2;
}

.arrows .right:active {
	color:#81b3d2;
} 



.arrows .right {
	color:#81b3d2;
}

.shelter-photo {
	float: left;
	float: left;
	margin-left: 1px;
	margin-right: 33px;
}

.name-and-other {
	width: 430px;
}

.buttons {
	margin-top: 17px;
}

.show {
	text-decoration: none;
	background: #81b3d2;
	color: #ffffff;
	margin-top: 10px;
	margin-left: -2px;
	padding: 5px 17px;
	
}

.show:hover {
	background:#669ec0;
} 

.show:active {
	color:#81b3d2;
	background:#669ec0;
}

.booking {
	text-decoration: none;
	background: #766357;
	padding: 5px 17px;
	margin-left: 3px;
	color: #ffffff;

}

.booking:hover {
	background:#604e43;
}

.booking:active {
	background:#604e43;
	color:#857871;

}


.hotel-price-1{
	margin-left: 35px;
}

.hotel-price-2 {
	margin-left: 60px;
}

.hotel-price-3 {

	margin-left: 17px;
}

.stars-and-rank {
	margin-top: -59px;
	margin-right: 4px;
}

.stars {
	float: right;
	color: #81b3d2;
	font-size: 24px;
	margin-top: -38px;
	margin-right: -2px;
	letter-spacing: 0.09em;
}

.rank {
	float: right;
	
	color: #bbbbbb;
	padding: 1px;
	width: 106px;
	text-align: center;
	margin-top: 37px;
	background: #f2f2f2;

}

.real-city{
	height:256px;
	width: 400px;
	float:left;
}

.devil-bridge{
	height: 256px;
	width: 400px;
	float: right;
}

.big-name {
	font-size: 21px;
	font-weight:bold;
	width: 150px;
	line-height: 1;
	margin: 0 auto;
	padding-top: 18px;
	margin-bottom: 23px;
}

.big-name-container {
	font-size: 21px;
	font-weight:bold;
	width: 171px;
	line-height: 1;
	margin: 0 auto;
	/*padding-bottom: 30px;*/
	margin-top: -1px;
	margin-bottom: 23px;
}


.discription {
	width: 302px;
	padding-bottom: 17px;
	margin: 0 auto;
	font-weight: normal;
}

.discription-container {
	width:280px;
	padding-bottom: 17px;
	margin: 0 auto;
	font-weight: normal;
}


.number {
	padding: 3px 0;
	font-weight: normal;
	padding-bottom: 20px;
}

.container-number {
	padding: 0;
	font-weight: normal;
	padding-bottom: 20px;
}


.features-item-blue{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	color:#fff;
	text-align:center;
	background:#81b3d2;
}
.background-right{

	float:right;


}
.background-left{
	float:left;
}

.container{
	padding-top:60px;
	text-align:center;
	height:330px;
	margin:0 auto;
	margin-bottom: -60px;
}

.container-item{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	width:400px;
	float:left;
	margin: 0 auto;
}

.home,
.burger, 
.box {
	color: #81b3d2;
	margin-bottom:30px;
	
}
.container-gray{
	text-align:center;
	min-height:254px;
	background: #eeeeee;
	margin:0 auto;
}

.features-item-gray{
	display: flex;
	flex-flow: column nowrap;
	padding-top:30px;
	width:400px;
	float:left;
}

.form-hotel {
	display:flex;
	flex-flow: column wrap;
	align-items: center;
	width: 100%;
	text-align: center;
	margin:0 auto;
}

.headline {
	font-size: 30px;
	font-weight:bold;
	padding-bottom: 21px;
	padding-top: 15px;
	
}

.discription-holel {
	width: 437px;
	font-weight: normal;
	line-height: 1.7;
}

.brown {
	color: #fff;
	font-size: 18px;
	font-weight:bold;
	line-height: 1.7;
	text-align: center;
	background: #766357;
	width: 568px;
	padding: 27px 0;
	margin-top: 48px;
	border:none;
	box-shadow:none;
	cursor:pointer;
	text-transform:uppercase;
	
}


.map{
	background: url("../img/map1.jpg") no-repeat;
	min-height:474px;
	width: 1200px;
	margin:0 auto;
}

.form{
	background:#fff;
	width:569px;
	margin:0 auto;
	position:absolute;
	display:none;
	max-height:500px;
	transition:max-height 0.6s linear;

}


.form-show {
	display:block;
	animation: bounce 0.6s reverse;
}

@keyframes bounce {
	to{transform:translateY(30px);}
}

.form-1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items:baseline;
	padding:55px 56px 0;
	font-weight: bold;

	
}

.form input.log-box {
	background-image: url("../img/calendar.png");
	background-repeat: no-repeat;
	background-position: 98% 8px;
}

.log-box {
	background: #f2f2f2;
	width: 289px;
	margin-bottom: 30px;
	padding: 9px 15px;
	padding-bottom: 5px;
	padding-right: 40px;
	font-size: 14px;
	font-weight:bold;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	border: none;
	cursor:pointer;

}

.form input.log-box:hover {
	background:#ebebeb;
	background-image: url("../img/calendar-black.png");
	background-repeat: no-repeat;
	background-position: 98% 8px;
	border: none;
	
}

.form input.log-box:focus {
	background: #ffffff;
	background-image: url("../img/calendar-blue.png");
	background-repeat: no-repeat;
	background-position: 98.5% 8px;
	border: none ;
}

input[type="text"]:focus {
	border: 2px solid #e5e5e5 ; 
	
}

.date {
	margin-left: -131px;
}

.calendar {
	color:#c2c2c2;
	font-size:16px;
	font-weight:normal;
	float:right;
	margin-left: 42px;
}

.calendar:hover {
	color:#000000;
	cursor:pointer;
}

.calendar:active {
	color:#81b3d2;
}

.adults {
	margin-left: -2px;
	margin-right: -40px;
}

.children {

	margin-right: -54px;
}

.form-number {

	background: #f2f2f2;
	width: 74px; 
	text-align: center;
	padding: 8px;
	padding-right: 29px;
	margin-left: 30px;

}

.form-number-box {
	width: 77px;
	margin-left: 12px;
}

.form-number-box span:nth-child(2n) {
	margin: 0 16px;
}

.minus,
.plus {
	color:#a9a9a9;
}

.minus:hover,
.plus:hover {
	color:#000000;
	cursor:pointer;
}

.minus:active,
.plus:active {
	color:#81b3d2;

}


.btn {
	font-size: 20px;
	font-weight:bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	background: #81b3d2;
	width: 100%;
	margin-top: 55px;
	margin-bottom: 56px;
	padding: 17.5px 8px;
	text-align: center;
	cursor: pointer;
	border: none;

}

.btn:hover {
	background:#669ec0;
}

.btn:active {
	background:#5496bd;
	color:#88b6d1;
}

.main-footer-hotels {
	margin-top: 12px;
	padding-bottom: 9px;
}

.footer-container {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 13px;
	

}

.footer-item {

	float: left;
	margin: 0 auto;
}

.footer-contacts a {
	text-decoration: none;
	font-size: 21px;
	font-weight: bold;
	color: #000000;
	margin-top: -9px;

}

.footer-contacts {
	margin-left: 207px;
	margin-top: 31px;
	margin-right: 170px;

}

.footer-social {
	margin: 37px 86px;
}

.social-btn {
	background: #81b3d2;
	margin-right: 2px;
}

.social-btn-twt {
	padding-left: 15px;
	padding-top: 18px;
	padding-right: 14px;
	padding-bottom: 12px;
}

.social-btn-fb {
	padding-left: 18px;
	padding-top: 18px;
	padding-right: 18px;
	padding-bottom: 12px;
	margin-right: 2px;
}

.social-btn-ytb {
	padding-left: 13px;
	padding-top: 18px;
	padding-bottom: 12px;
}

.social-btn-ytb img {
	padding-right: 13px;
}

.footer-copyright {
	margin-left: 141px;
	margin-top: -1px;
}

.footer-copyright img {
	position: relative;
	top: 16px;
	left: 4px;
}